.user-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(145, 145, 145);
    height: 80px;
    width: 100%;
    border-radius: 10%;
   
   
}